@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #7bdaf3;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 3rem;
}

.add {
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: #9ec862;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 400px;
    margin: 20px;
}

.note .tools {
    display: flex;
    justify-content: flex-end;
    background-color: #9ec862;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    font-size: 1.0rem;
    margin-left: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.note .main {
    /* display: none; */
    height: 400px;
    width: 100%;
}

.note textarea {
    font-family: inherit;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.note .hidden {
    display: none;
}